@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --plano-de-fundo: #000;
    --cor-font-branca: #ffff;
    --font-Space-grotesk: "Space Grotesk", sans-serif;
    --cor-secundaria: #00E1FF;
    --cor-terciaria: #00E1FF1A;
    --cor-font-paragrafo: #7B899D;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--plano-de-fundo);
    font-family: var(--font-Space-grotesk);
    color: var(--cor-font-branca);
}

.logotipo_nome {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    height: 25px;
}

.lista_menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.primaria {
    height: 86vh    ;
    background: url(img/17978.jpg);
    background-position: center;
}

.lucide {
    background: #000;
}