@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --plano-de-fundo: #000;
    --cor-font-branca: #ffff;
    --font-Space-grotesk: "Space Grotesk", sans-serif;
    --cor-secundaria: #00E1FF;
    --cor-terciaria: #00E1FF1A;
    --cor-font-paragrafo: #7B899D;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--plano-de-fundo);
    filter: blur();
    font-family: var(--font-Space-grotesk);
    color: var(--cor-font-branca);
}

.logotipo_nome {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    padding: 5px 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    height: 25px;
}

.lista_menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.btn_comecar {
    height: 31px;
    width: 90px;
    background: var(--cor-secundaria);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primaria {
    height: 90vh    ;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(1, 0, 0, 0.832)), url(img/17978.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.conjunto_btn {
    display: flex;
    gap: 5px;
}

.btn {
    width: 170px;
    height: 45px;
    background: var(--cor-secundaria);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.saiba_mais {
    width: 120px;
    background: var(--plano-de-fundo);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

.titulo_inicial {
    width: 850px;
    font-size: 100px;
    text-align: center;
}

span {
    color: var(--cor-secundaria);
}

.subtitulo_inicial {
    width: 850px;
    text-align: center;
}

.card_informativo {
    display: flex;
}

.dados_lista {
    display: flex;
    list-style: none;
    justify-content: space-around;
}